*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.service{
	margin-top:5rem;
background-color:#e6ffff3d;
border-bottom:1px solid grey;
border-top:1px solid grey;
}
.service .container{
	width:90%;
	margin:0 auto;
}
.service .row{
	display:flex;
	
	
}
.service .col{
	width:33.3%;
	
}
.hp{
	padding-top:2rem;
	text-align:center;
}
.hp p{
	padding:20px;
}
.card {
	display:flex;
	gap:3%;
	padding:20px;
}
.card i{
	
}
i{
	display:flex;
	height:50px;
	width:50px;
	background-color:#e6ffff3d;
	border:1px solid grey;
	color:grey;
	border-radius:50%;
	justify-content:center;
	align-items:center;
}

@media(min-width:320px){
	.service .container{
	width:90%;
	margin:0 auto;
}
.service .row{
	display:flex;
	flex-wrap:wrap;
	
}
.service .col{
	width:100%;
	
}
}

@media(min-width:690px){
	.service .container{
	width:90%;
	margin:0 auto;
}
.service .row{
	display:flex;
	flex-wrap:wrap;
	
}
.service .col{
	width:50%;
	
}
}

@media(min-width:1020px){
	.service .container{
	width:90%;
	margin:0 auto;
}
.service .row{
	display:flex;
	
}
.service .col{
	width:33.3%;
	
}
}